<%- include('./partials/header'); -%>
<div class="main">
    <div class="content">
        <h1>CU Meal</h1>
        <br>
        <h3>Breakfast</h3>
        <ul>
            <% breakfast.forEach(function(breakfast){ %>
                <li><%= breakfast %></li>
            <%  }); %>
        </ul>
        <h3>Lunch</h3>
        <ul>
            <% lunch.forEach(function(lunch){ %>
                <li><%= lunch %></li>
            <%  }); %>
        </ul>
        <h3>Snacks</h3>
        <ul>
            <% snacks.forEach(function(snack){ %>
                <li><%=snack%></li>
            <%  }); %>
        </ul>
        <h3>Dinner</h3>
        <ul>
            <% dinner.forEach(function(dinner){ %>
                <li><%= dinner %></li>
            <%  }); %>
        </ul>
    </div>
  </div>

</body>
</html>