<%- include('./partials/header'); -%>

<div class="main">
        <h1 class="main-heading"><%=Day%>'s Menu</h1>
        <br>
        <h3 class="meal-heading text-muted">Breakfast</h3>
        <ul class="list-group">
            <% breakfast.forEach(function(breakfast){ %>
                <li class="list-item list-group-item"><%= breakfast %></li>
            <%  }); %>
        </ul>
        <h3 class="meal-heading text-muted">Lunch</h3>
        <ul class="list-group">
            <% lunch.forEach(function(lunch){ %>
                <li class="list-item list-group-item"><%= lunch %></li>
            <%  }); %>
        </ul>
        <h3 class="meal-heading text-muted">Snacks</h3>
        <ul class="list-group">
            <% snacks.forEach(function(snack){ %>
                <li class="list-item list-group-item"><%=snack%></li>
            <%  }); %>
        </ul>
        <h3 class="meal-heading text-muted">Dinner</h3>
        <ul class="list-group">
            <% dinner.forEach(function(dinner){ %>
                <li class="list-item list-group-item"><%= dinner %></li>
            <%  }); %>
        </ul>
    </div>
    <%if(Day =="Today"){%>
        <div class="bottom">
        <h3 class="bottom-text">Curious! Check Out Tommorrow's Menu</h3>
        <button type="button" class="btn btn-danger"><a href="/tomorrow-mess-menu">Here</a></button>
    </div>
    <%}%>

  </div>

</body>
</html>